.input-group {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  span.input-group-text {
    color: #666666;
    font-size: 17px;
    margin-right: 23px;
  }
  input.form-control {
    color: #666666;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.15px;
    width: 100%;
    padding: 0px;
    border: none;
    background-color: transparent;
    &:focus {
      border: none;
      outline: none;
    }
  }
}
