// color
$primary: #2d7dc7;
$primary-dark: #1967ae;
$primary-light: #ebf2f9;

$secondary: #eea415;

$thirdly: #29be87;
$thirdly-light: #ddf6ed;

$fourthly: #c94230;

$gray: #828282;
$gray-dark: #4f4f4f;

$error-main: #de3232;
